* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'district';
  src: url('../fonts/distproth-webfont.eot');
  src: url('../fonts/distproth-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/distproth-webfont.woff') format('woff'), url('../fonts/distproth-webfont.ttf') format('truetype'), url('../fonts/distproth-webfont.svg#district_prothin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'aleo';
  src: url('../fonts/aleo-bold-webfont.eot');
  src: url('../fonts/aleo-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/aleo-bold-webfont.woff') format('woff'), url('../fonts/aleo-bold-webfont.ttf') format('truetype'), url('../fonts/aleo-bold-webfont.svg#aleobold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'aleo';
  src: url('../fonts/aleo-light-webfont.eot');
  src: url('../fonts/aleo-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/aleo-light-webfont.woff') format('woff'), url('../fonts/aleo-light-webfont.ttf') format('truetype'), url('../fonts/aleo-light-webfont.svg#aleolight') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'aleo';
  src: url('../fonts/aleo-regular-webfont.eot');
  src: url('../fonts/aleo-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/aleo-regular-webfont.woff') format('woff'), url('../fonts/aleo-regular-webfont.ttf') format('truetype'), url('../fonts/aleo-regular-webfont.svg#aleoregular') format('svg');
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'aleo', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 7%;
  height: 100%;
  background-color: #111111;
}
nav ul {
  padding-top: 20px;
}
nav li {
  padding-bottom: 40px;
  text-align: center;
  list-style-type: none;
}
nav a {
  color: white;
  text-decoration: none;
}
nav a i {
  font-size: 2em;
}
nav,
.message-list,
.full-message {
  float: left;
}
.search {
  margin-left: 7%;
}
.search input[type="text"] {
  width: 100%;
  height: 40px;
  margin: 0;
}
.message-list,
.full-message {
  width: 45%;
}
.message-list {
  margin-left: 7%;
}
.message-list .indiv-message {
  width: 100%;
  border-bottom: 1px solid black;
  padding: 15px 0;
}
.message-list .indiv-message .author,
.message-list .indiv-message .subject-sum {
  float: left;
}
.message-list .indiv-message .author {
  width: 20%;
  padding: 0px 10px;
  font-size: 10px;
  text-align: center;
}
.message-list .indiv-message .author img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
.message-list .indiv-message .subject-sum {
  width: 60%;
}
.message-list .indiv-message .subject-sum h2 {
  font-family: 'district', sans-serif;
  font-size: 1.5em;
}
.message-list .indiv-message .time {
  float: right;
  width: 20%;
}
.message-list .indiv-message .time .status {
  text-align: center;
}
.full-message .top .author,
.full-message .top .subject-sum {
  float: left;
}
.full-message .top .author {
  width: 20%;
  padding: 0px 10px;
  font-size: 10px;
  text-align: center;
}
.full-message .top .author img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
.full-message .top .subject-sum {
  width: 60%;
}
.full-message .top .subject-sum h2 {
  font-family: 'district', sans-serif;
  font-size: 1.5em;
}
.full-message .past-message .indiv-message {
  width: 100%;
}
.full-message .past-message .indiv-message .author {
  width: 20%;
  padding: 0px 10px;
  font-size: 10px;
  text-align: center;
  float: left;
}
.full-message .past-message .indiv-message .author img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
.full-message .past-message .indiv-message .message {
  width: 75%;
  float: left;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}
