<div class="container">
  <img src="images/logo.png" alt="Dott Home">
  <h1>Lock down your email.</h1>
  <a href="/auth/google"><i class="icon-google-plus"></i><span class='text'>Sign in with Gmail</span></a>
</div>
