<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.1.0/css/font-awesome.min.css">
  </head>
  <body>
    <nav>
      <div class="logo">
      </div>
      <ul>
        <li  class="compose"><a href="#"><i class="icon-pencil"></i></a></li>
        <li><a href="#"  class="selected"><i class="icon-inbox"></i></a></li>
        <li><a href="#"><i class="icon-plane"></i></a></li>
        <li><a href="#"><i class="icon-file"></i></a></li>
        <li><a href="#"><i class="icon-trash"></i></a></li>
        <li><a href="#"><i class="icon-search"></i></a>
        <li><a href="#"><i class="icon-cog"></i></a></li>
      </ul>
    </nav>

    <div class="message-list">
      <div class="indiv-message clearfix">
        <div class="author">
          <img src="images/selby.jpg">
          <h3>Selby</h3>
        </div>

        <div class="subject-sum">
          <h2>Some extra thoughts</h2>
          <p>Sunday, June 16th, 12:23 PM</p>
        </div>

        <div class="time">
          <div class="details">
            <div class="status">
            </div>

            <h4>12:23 PM</h4>
          </div>
        </div>
      </div>
      <div class="indiv-message selected clearfix">
        <div class="author">
          <img src="images/selby.jpg">
          <h3>Selby Walker</h3>
        </div>

        <div class="subject-sum">
          <h2>Some Thoughts</h2>
          <p>Sunday, June 16th, 11:31 AM</p>
        </div>

        <div class="time">
          <i class="icon-paper-clip" style="display:none"></i>
          <div class="details">
            <div class="status">
            </div>

            <h4>11:31 AM</h4>
          </div>
        </div>
      </div>
      <div class="indiv-message clearfix">
        <div class="author">
          <img src="images/selby.jpg">
          <h3>Selby Walker</h3>
        </div>

        <div class="subject-sum">
          <h2>A Message For You</h2>
          <p>Writing advice from C.S. . .</p>
        </div>

        <div class="time">
          <i class="icon-paper-clip" style="display:none"></i>
          <div class="details">
            <div class="status">
            </div>

            <h4>11:23 AM</h4>
          </div>
        </div>
      </div>
      <div class="indiv-message clearfix">
        <div class="author">
          <img src="images/selby.jpg">
          <h3>Selby Walker</h3>
        </div>

        <div class="subject-sum">
          <h2>A Message From Selby</h2>
          <p>Sunday, June 16th, 11:19 AM</p>
        </div>

        <div class="time">

          <i class="icon-paper-clip" style="display:none"></i>
          <div class="details">
            <div class="status">
            </div>

            <h4>11:19 AM</h4>
          </div>
        </div>
      </div>

      <div class="search">
      </div>

    </div>

    <div class="full-message">
      <div class="top clearfix">
        <div class="author">
          <img src="images/selby.jpg">
          <h3>Selby Walker</h3>
          <h4>Sunday, June 16th, 11:23 AM</h4>
        </div>

        <div class="subject-sum">
          <h2>Some Thoughts</h2>
          <h3>Kelly Walker</h3>
        </div>

        <div class="actions">
          <a href="#"><i class="icon-reply"></i></a>
          <a href="#"><i class="icon-reply-all"></i></a>
          <a href="#"><i class="icon-trash"></i></a>
        </div>
      </div>

      <div class="message">

        <p>19th September 2006</p>
        <p>Thank you for your incredible letter; incredible, because you do indeed sound phenomenally like Harry Potter, in your physical resemblance and in your life experience. I cannot tell you how moved I was by what you wrote, nor how sorry I am to hear about your parents. What a terrible loss.</p>

        <p>I know what it is like to be picked on, as it happened to me, too, throughout my adolescence. I can only wish that you have the same experience that I did, and become happier and more secure the older you get. Being a teenager can be completely horrible, and many of the most successful people I know felt the same way. I think the problem is that adolescence, though often misrepresented as a time of rebellion and unconventionality, actually requires everybody to conform if they aspire to popularity – or at least to 'rebel' while wearing the 'right' clothes! You’re now standing on the threshold of a very different phase in your life, one where you are much more likely to find kindred spirits, and much less likely to be subject to the pressures of your teenage years.</p>

        <p>It is an honour to me to know that somebody like you loves Harry as much as you do. Thank you very much for writing to me, I will treasure your letter (which entitles you to boast about this response as much as you like!)</p>
        <p>With lots of love,</p>
        <p>JK Rowling</p>
        <p>(Jo to you!)</p>
        <p>x</p>

        <a href="#"><i class="icon-trash"></i></a>
        <a href="#"><i class="icon-reply"></i></a>
      </div>

      <!-- <div class="past-message clearfix">
        <div class="indiv-message">
          <div class="author">
            <img src="images/selby.jpg">
            <h3>Selby Walker</h3>
            <h4>3:45 PM</h4>
          </div>

          <div class="message">
            <p>I do!! I might have a job interview or something or maybe work at that point but hopefully I can come up with you</p>
          </div>
        </div>
      </div>
    </div> -->

    <div class="compose-message">
      <form>
        <div class="exit"><a href="#">&times;</a></div>
        <input type="text" placeholder="Subject" class="subject">
        <input type="text" placeholder="To">
        <textarea></textarea>
        <input type="submit" value="Send">
        <a href="#"><i class="icon-trash"></i></a>
      </form>
    </div>
  </body>
</html>
