<!doctype html>
<html>
<head>
  <meta charset='utf-8' />
  <title>dott</title>

  <script src='//localhost:35729/livereload.js'></script>

  <!-- LESS Configuration -->
  <script type='text/javascript'>
    window.less = {
      env: 'development',
    };
  </script>
  <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/less.js/1.3.3/less.min.js'></script>
  <!-- Script includes -->
  <script type='text/javascript' src='http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js'></script>
  <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js'></script>
  <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js'></script>

  <link rel="stylesheet" href="stylesheets/reset.css">
  <link rel="stylesheet" href="stylesheets/home.css">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.1.0/css/font-awesome.min.css">
</head>
<body>
  {{{body}}}
</body>
</html>
