<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>dott</title>

  <!-- Live reload -->
  <script src="http://localhost:35729/livereload.js"></script>

  <!-- LESS Configuration -->
  <script type="text/javascript">
    window.less = {
      env: "development",
    };
  </script>
  <script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/less.js/1.3.3/less.min.js'></script>
  <!-- Script includes -->
  <script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js'></script>
  <script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js'></script>
</head>
<body>
  {{{body}}}
  {{openid.openid.ext1.value.email}}
</body>
</html>
